chuday.eu {
	# Redirect root to control UI
	redir / /clawagent/ permanent
	
	# WebSocket proxy at root (for Control UI WebSocket connections)
	@websocket_root {
		path /
		header Connection *Upgrade*
		header Upgrade websocket
	}
	
	reverse_proxy @websocket_root host.docker.internal:18789
	
	# Proxy all /clawagent paths
	reverse_proxy /clawagent* host.docker.internal:18789
}
